.intro{
	min-height: 100%;
	overflow: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.pub-title{
	color: #444;
	font-weight: bold;
	margin: 0;
	margin-top: 1rem;
	font-size: 1.2rem;
}
.pub-paper{
	font-size: 1rem;
}

.pub-container{
	width: 100%;
	color: #333;
}

.pub-sub-title{
	color: #777;
	font-weight: bold;
	margin: 0;
	margin-top: 1rem;
	font-size: 1.2rem;
}
.pub-container{
	color: #585858;
}
.pub-date{
	margin: 0;
	font-size: 1rem;
}
.pub-location{
	color: orange;
	/*color: #666;*/
	font-weight: bold;
	margin: 0;
	font-size: 1rem;
	margin-bottom: 0.5rem;
}
.pub-detail{
	margin: 0;
	color: #484848;
	font-size: 1rem;
}