@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


* {box-sizing: border-box;}

html, body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}
.content{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #CAD2C5;
}
#quiz-content{
  position: relative;
  width: 100%;
}
#tracker-section{
  position: sticky;
  width: 100%;
  top: 90%;
  height: 10%;
  background-color: #69A297;
  padding: 0;
  overflow-y: hidden;
}

#instruction-page{
  padding: 5% 0;
}
#instruction-title{
  position: relative;
  font-size: 2.4rem;
  width: 100%;
  text-align: center;
  font-family: 'Calibri', sans-serif;
}
.instruction-block{
  position: relative;
  width: 90%;
  left: 5%;
  display: flex;
  text-align: justify;
  padding: 2% 4%;
  justify-content: center;
  flex-direction: column;
}

.instruction-text{
  border: 0.2rem solid #354F52;
  background-color: #84A98C;
  font-family: 'Calibri', sans-serif;
  margin: 2% 0;
  font-size: 1.6rem;
  padding: 2% 4%;
}

.enter-quiz, .next-question{
  border: none;
  border-radius: 0.4rem;
  background-color: #354F52;
  font-family: 'Calibri', sans-serif;
}

.enter-quiz{
  cursor: pointer;
  position: relative;
  width: 10rem;
  margin: 2% 0;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: white;
}
.enter-quiz:hover{
  filter: brightness(150%);
}



#question-page{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2% 10%;
}
#question-number-indicator{
  position: relative;
  width: 100%;
  font-size: 2.4rem;
  font-family: 'Calibri', sans-serif;
  color: #2F3E46;
  border-bottom: 1px solid #555;
}
.question-block{
  position: relative;
  width: 100%;
  margin: 0;
}
.question-text{
  position: relative;
  font-size: 1.5rem;
  padding-top: 0;
  margin-top: 0;
  font-family: 'Calibri', sans-serif;
  color: #444;
}
#answer-block{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: 1rem 5%;
  font-size: 1.2rem;
  width: 90%;
  flex-flow: wrap;
}

.answer-option{
  cursor: pointer;
  width: 40%;
  margin: 1% 2.5%;
}
.answer-option:hover{
  filter: brightness(125%);
}

.answer-text{
  background-color: #52796F;
  color: #FFF;
  padding: 0.75rem;
  border-radius: 4px;
}

.explanation-text{
  display: none;
  border: 0.2rem solid #354F52;
  background-color: #84A98C;
  font-family: 'Calibri', sans-serif;
  margin: 2% 0;
  font-size: 1.3rem;
  padding: 2% 4%;
}

.next-question{
  display: none;
  cursor: pointer;
  position: relative;
  left: 85%;
  width: auto;
  margin: 2% 0;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  color: white;
}
.next-question:hover{
  filter: brightness(125%);
}


#questions-tracker{
  position: absolute;
  width: 90%;
  height: 100%;
  left: 5%;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  padding: 0;
  align-items: center;
}
.question-track-item{
  position: relative;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*width: 2.5rem;*/
  font-size: 1.5rem;
  color: white;
}
.question-track-item>p{
  text-align: center;
  padding: 0.3rem 1.5rem;
}
.active-tracker{
  background-color: #F0F3BD;
  color: black;
}


#score-container{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5%;
}
.score-text{
  text-align: center;
  font-size: 2rem;
  font-family: 'Calibri', sans-serif;
  color: #2F3E46;
}
.badge-text{
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Calibri', sans-serif;
  color: #2F3E46;
}
.score-card{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid #333;
  border-radius: 0.5rem; 
  background-color: #F0F3BD;
  left: 50%;
  width: 40vh;
  transform: translateX(-50%);
}
.score-img{
  position: relative;
  width: 30vh;
  margin: 1rem 0;
}
.character-tag{
  position: relative;
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Calibri', sans-serif;
  color: #2F3E46;
}
#share-button{
  cursor: pointer;
  position: relative;
  border: none;
  border-radius: 0.4rem;
  font-family: 'Calibri', sans-serif;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  margin: 1rem 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}


/*
  font-family: 'Calibri', sans-serif;
  font-family: 'Poppins', sans-serif;
  */