@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


* {box-sizing: border-box;}

html, body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}
.content{
  position: relative;
  width: 100%;
  height: 100%;
}
#quiz-content{
  position: relative;
  width: 100%;
}
#tracker-section{
  position: relative;
  width: 100%;
  height: auto;
}

#instruction-page{
  padding: 5% 0;
}
#instruction-title{
  position: relative;
  font-size: 2.4rem;
  width: 100%;
  text-align: center;
  font-family: 'Calibri', sans-serif;
}
.instruction-block{
  position: relative;
  width: 90%;
  left: 5%;
  display: flex;
  text-align: justify;
  padding: 2% 4%;
  justify-content: center;
  flex-direction: column;
}

.instruction-text{
  border: 0.2rem solid #555;
  background-color: #95C8D9;
  font-family: 'Calibri', sans-serif;
  margin: 2% 0;
  font-size: 1.6rem;
  padding: 2% 4%;
}
.enter-quiz{
  cursor: pointer;
  position: relative;
  width: 10rem;
  border: none;
  border-radius: 0.4rem;
  background-color: #0F52BA;
  font-family: 'Calibri', sans-serif;
  margin: 2% 0;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: white;
}
.enter-quiz:hover{
  background-color: yellow;
}



#question-page{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2% 10%;
}
#question-number-indicator{
  position: relative;
  width: 100%;
  font-size: 2.4rem;
  font-family: 'Calibri', sans-serif;
  color: #003152;
  border-bottom: 1px solid #555;
}
.question-block{
  position: relative;
  width: 100%;
  margin: 0;
}
.question-text{
  position: relative;
  font-size: 1.5rem;
  padding-top: 0;
  margin-top: 0;
  font-family: 'Calibri', sans-serif;
  color: #444;
}
#answer-block{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 1rem 5%;
  font-size: 1.2rem;
  width: 90%;
}
.answer-option{
  cursor: pointer;
}
.answer-option:hover{
  background-color: yellow;
}

.answer-text{
  background-color: #B0DFE5;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 4px;
}

.explanation-text{
  display: none;
  border: 0.2rem solid #555;
  background-color: #95C8D9;
  font-family: 'Calibri', sans-serif;
  margin: 2% 0;
  font-size: 1.3rem;
  padding: 2% 4%;
}

.next-question{
  display: none;
  cursor: pointer;
  position: relative;
  left: 85%;
  width: auto;
  border: none;
  border-radius: 0.4rem;
  background-color: #0F52BA;
  font-family: 'Calibri', sans-serif;
  margin: 2% 0;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  color: white;
}
.next-question:hover{
  background-color: yellow;
}


#questions-tracker{
  position: relative;
  width: 90%;
  left: 5%;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}
.question-track-item{
  position: relative;
  margin: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #888;
}
.active-tracker{
  background-color: blue;
}
/*
  font-family: 'Calibri', sans-serif;
  font-family: 'Poppins', sans-serif;
  */